body {
  margin: 0;
}
main {
  margin-top: 2.9rem;
}

.navbar {
  text-align: right;
  background-color: orange;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  padding-right: 0.5rem;
  padding: 0;
}

#logo {
  font-family: "Plaster", cursive;
  font-size: 2.2rem;
  padding: 0 0 0 0.5rem;
}

.navbar svg {
  height: 1.2rem;
  width: 1.5rem;
  color: black;
  margin-left: 1rem;
  display: none;
  padding-right: 0.5rem;
}

.navbar div {
  padding: 0.5rem;
  display: inline;
}

.nav-item :hover {
  background-color: hotpink;
}

@media screen and (max-width: 450px) {
  .navbar svg {
    display: inline;
  }
  .navbar .nav-item {
    display: none;
  }
}

/* -------------  Team section styling ------------ */

.team {
  width: 90vw;
  margin: auto;
}

.team h1 {
  text-align: center;
}

.team-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.team-item {
  width: 48%;
  height: 215px;
  background-color: rgb(60, 209, 137);
  margin: 5px;
  display: flex;
}

.team-item img {
  max-height: 100%;
}

.team-item div {
  text-align: left;
  padding: 10px;
  min-width: 172px;
}

.team-item div h2 {
  margin-top: 5px;
}

@media (max-width: 956px) {
  .team-item {
    width: 100%;
  }
  .team-box {
    flex-direction: column;
  }
}

@media (max-width: 450px) {
  .team-item {
    flex-direction: column;
    height: 100%;
  }
  .team-item img {
    width: 100%;
    height: 100%;
  }
}

/* -------------  Card/Footer styling ------------- */

footer {
  margin: auto;
  background: repeating-linear-gradient(
    180deg,
    white,
    white 30%,
    rgb(60, 209, 137) 30%,
    rgb(60, 209, 137) 100%
  );
}

#contact-card {
  width: 95%;
  max-width: 780px;
  margin: auto;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.1);
}
#contact-card h1 {
  text-align: center;
  padding-top: 20px;
}
#card-content {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: auto;
  justify-content: center;
  padding-bottom: 30px;
}

/* -------------  Contact info styles ------------- */

#contact-detail {
  width: 30%;
  min-width: 250px;
}

#map {
  width: 80%;
}

td {
  padding: 10px 10px 10px 0px;
}

#contact-detail h5 {
  margin: 0px;
}

/* End of contact info styles */

/* ------------- Form styles ------------- */

#contact-form {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  width: 30%;
  min-width: 250px;
}

#contact-form h3 {
  margin: 0;
  padding: 10px 10px 10px 0px;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  border: none;
  margin: 5px 0 10px;
  line-height: 1.5em;
  font-size: 1em;
  background-color: #ecf0f1;
  border-radius: 5px;
}

#send-btn {
  border: none;
  background-color: rgb(193, 36, 112);
  font-size: 1em;
  color: white;
  border-radius: 5px;
  padding: 8px 0;
}

/* End of form styles */

#copywright {
  text-align: center;
  padding: 20px;
}

/* ------------- Media Queries ------------- */

@media (max-width: 694px) {
  #contact-form {
    padding-top: 20px;
    border-top: 2px solid gray;
    margin-top: 30px;
  }
}
