/*
dark-blue: #3aa4e4;
light-blue: #5ebecc;
red: #d44429;
lighter version of red: rgb(214, 86, 64);
yellow: #E9A541;
light-brown: #b9724a;
grey: #cfc3b9;
pink: #e9ccaf;
coffee: #39373a;
*/

body {
  margin: 0;
  font-family: "Ubuntu", sans serif;
}

/* -------------  Header styles ------------- */

.navbar {
  text-align: right;
  background-color: #5ebecc;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  padding-right: 0.5rem;
  padding: 0;
  z-index: 10;
  font-family: "Ubuntu", sans-serif;
}

#logo {
  font-family: "Plaster", cursive;
  font-size: 2.1rem;
  padding: 0 0 0 0.5rem;
}

.navbar svg {
  height: 1.2rem;
  width: 1.5rem;
  color: black;
  margin-left: 1rem;
  display: none;
  padding-right: 0.5rem;
}

.navbar div {
  padding: 0.5rem;
  display: inline;
  font-size: 1.5rem;
}

.nav-item :hover {
  background-color: #39373a;
  color: white;
  cursor: pointer;
  border-bottom: 1px solid #39373a;
}

.nav-item :active {
  background-color: #3aa4e4;
  border-bottom: 1px solid #3aa4e4;
}

.nav-item,
nav a {
  text-decoration: none;
  color: black;
}

#skip-to-main {
  position: absolute;
  left: -10000px !important;
}

/* end of header styling */

/* -------------  About styles ------------- */

#background-image {
  background: linear-gradient(
      rgba(255, 255, 255, 0.4),
      rgba(255, 255, 255, 0.4)
    ),
    url("https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=47d2b1f32cc05c976af4a39256e01cba&auto=format&fit=crop&w=1050&q=80");
  height: 100vh;
  width: 100%;
  clip-path: polygon(
    0% 0%,
    100% 0%,
    100% 90%,
    65% 90%,
    50% 100%,
    35% 90%,
    0% 90%
  );
  text-align: center;
  background-size: cover;
}

#background-image h1,
#background-image article {
  z-index: 9;
  padding: 0 10rem;
  font-weight: 600;
}

#background-image svg {
  min-width: 125px;
  min-height: 125px;
  height: 25vh;
  width: 35%;
  margin-top: 3.1rem;
}

#background-image h1 {
  font-size: 2.5rem;
  text-shadow: -1px 1px white;
}

#background-image article {
  font-size: 1.25rem;
  text-align: left;
}

article p {
  background-color: black;
  color: white;
  line-height: 1.8;
  display: inline;
  /* white-space: pre-wrap; */
  border: 0 solid black;
  border-width: 0.2em 0em;
}

/* -------------  Team section styling ------------ */

.team h1 {
  margin-top: 7vh;
}

.team {
  width: 90vw;
  margin: auto;
}

.team h1 {
  font-size: 2rem;
  text-align: center;
}

.team-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1040px;
  margin: auto;
}

.team-item {
  width: 48%;
  height: 215px;
  background: repeating-linear-gradient(
    180deg,
    #eaf4fa,
    #e1eaf0 25%,
    #e9a541 25%,
    #e9a541 100%
  );
  margin: 5px;
  display: flex;
  border-radius: 10px;
  border: 1px solid #cfc3b9;
}

.team-item a {
  text-decoration: none;
  color: black;
  line-height: 1.25rem;
}

.team-item a:hover {
  text-decoration: underline;
}

.team-item li {
  list-style-type: square;
}

.team-item i {
  padding-right: 5px;
}

.team-item img {
  max-height: 100%;
  border-radius: 10px 0 0 10px;
}

.team-item div {
  text-align: left;
  padding: 10px;
  min-width: 172px;
}

.team-item div h2 {
  margin-top: 5px;
}

@media (max-width: 956px) {
  .team-item {
    width: 100%;
  }
  .team-box {
    flex-direction: column;
  }
}

@media (max-width: 450px) {
  .team-item {
    flex-direction: column;
    height: 100%;
  }
  .team-item img {
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 0 0;
  }
}

/* -------------  Card/Footer styling ------------- */

footer {
  margin: auto;
  background: repeating-linear-gradient(
    180deg,
    white,
    white 30%,
    #d56062 30%,
    #d56062 100%
  );
}

#contact-card {
  width: 95%;
  max-width: 780px;
  margin: auto;
  margin-top: 14vh;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.1);
}
#contact-card h1 {
  text-align: center;
  padding-top: 40px;
}
#card-content {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: auto;
  justify-content: center;
  padding-bottom: 30px;
}

/* -------------  Contact info styles ------------- */

#contact-detail {
  width: 30%;
  min-width: 250px;
  text-align: center;
}
table {
  margin: auto;
}

#map {
  width: 80%;
  border-radius: 5px;
}

td {
  padding: 10px 10px 10px 0px;
}

#contact-detail h5 {
  margin: 0px;
}

/* End of contact info styles */

/* ------------- Form styles ------------- */

#contact-form {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  width: 30%;
  min-width: 250px;
}

input[type="text"],
input[type="email"],
textarea {
  box-sizing: border-box;
  width: 100%;
  border: none;
  margin: 5px 0 10px;
  line-height: 1.5em;
  font-size: 1em;
  background-color: #ecf0f1;
  border-radius: 5px;
  resize: none;
  padding-left: 7px;
}

#send-btn {
  width: 100%;
  border: none;
  background-color: #3aa4e4;
  font-size: 1em;
  color: white;
  border-radius: 5px;
  padding: 8px 0;
  box-shadow: 0 3px 0 #21597c;
  position: relative;
  outline-color: lightgrey;
}

#send-btn:hover {
  cursor: pointer;
}

#send-btn:active {
  box-shadow: none;
  top: 3px;
  outline: 0;
}

/* End of form styles */

#copywright {
  text-align: center;
  padding: 20px;
}

/* ------------- Media Queries ------------- */

@media screen and (min-width: 551px) and (max-width: 694px) {
  #contact-form {
    padding-top: 20px;
    border-top: 2px solid gray;
    margin-top: 30px;
  }
  #background-image h1,
  #background-image article {
    padding: 0 4rem !important;
  }
  #background-image h1 {
    font-size: 2rem !important;
  }
  #background-image article {
    font-size: 1rem !important;
  }
}

@media screen and (max-width: 550px) {
  #background-image h1,
  #background-image article {
    padding: 0 4rem !important;
  }
  #background-image h1 {
    font-size: 2rem !important;
  }
  #background-image article {
    font-size: 1rem !important;
  }
}

@media screen and (max-width: 450px) {
  #background-image h1,
  #background-image article {
    padding: 0 2rem !important;
  }
  #background-image h1 {
    font-size: 2rem !important;
  }
  .navbar svg {
    display: inline;
  }
  .navbar .nav-item {
    display: none;
  }
}

@media (min-width: 1080px) {
  #background-image svg {
    margin-top: 10%;
  }
}
